html, body{
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.buttons {
    width: 75%;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}

.btn{ 
    width: 20%;
    height: 48px;
    font-size: 24px !important;
}